{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="athlete">
		<div class="cover-pic" style="background: url({{athlete.cover_pic|e}});">

		</div>
		
		<div class="no-padding container">
			{% include 'includes/_messages.html' %}
			<div class="top">
				<div class="social">
					<img class="profile-pic" src='{{athlete.profile_pic|e}}' width=200px height=200px/>	
					<div class="follow">
						<div class="followers">
							<a href="#">{{athlete.followers | length}}</a>
							<p>Followers</p>
						</div>
						<div class="following">
							<a href="#">{{athlete.following | length}}</a>
							<p>Following</p>
						</div>
					</div>
					{% if current_user is defined and athlete._id != current_user._id %}
						{% if athlete._id|string in current_user.following %}
							<button type=submit name="following">Following</button>
						{% else %}
							<button type=submit name="follow">Follow</button>
						{% endif %}
					{% endif %}
				</div>
				<div class="split">
					<div class="breadcrumb">
						<p><a href="/">Home</a> > <a href="/athletes/">Athletes</a> > <a href="/athletes/{{athlete._id}}">{{athlete.first_name}} {{athlete.last_name}}</a></p>
					</div>
					<div class="info">
						<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
					</div>
				</div>
				
			</div>

			<div class="featured">
				<div class="title">
					<h1>FEATURED</h1>
				</div>

				<div class="cards">
					<div class="card">
						<img src="/static/resources/lifts/deadlift.jpg">
						<p class="weight">140 KG</p>
						<h2>DEADLIFT</h2>
					</div>
					<div class="card">
						<img src="/static/resources/lifts/bench.jpg">
						<p class="weight">90 KG</p>
						<h2>BENCH</h2>
					</div>
					<div class="card">
						<img src="/static/resources/lifts/squat2.jpg">
						<p class="weight">125 KG</p>
						<h2>SQUAT</h2>
					</div>
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}
