{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="black">
		<div class="container">
			{% include 'includes/_messages.html' %}
			<h1>Athletes</h1>
			{% if session.email %}
				<h2>Logged in as: {{session.email}}</h2>
			{% endif %}
			<div class="athletes-content">
				<div class="athlete-search">
					<input type="text" name="athlete-name">
					<button type="submit">SEARCH</button>
				</div>
				{% for current in athletes %}
				<div class="athlete-overview">
					<div class="profile-pic">
						<img src="{{current.profile_pic|e}}">
					</div>
					<div class="basic-info">
						<p><a href="/athletes/{{current._id}}">{{current.first_name}} {{current.last_name}}</a></p>
						<p><span class="glyphicon glyphicon-map-marker"></span> Edinburgh, United Kingdom</p>
						<button type=submit name="follow">Follow</button>
					</div>
					
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
{% endblock %}
