{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="black">
		<div class="page-header athletes">
			<div class="container">
				<h1>Athletes</h1>
			</div>
		</div>
		<div class="no-padding container">
			{% include 'includes/_messages.html' %}
			<div class="athletes-content">
				<div class="athlete-search">
					<input type="text" name="athlete-name">
					<button type="submit">SEARCH</button>
				</div>
				{% for athlete in athletes %}
				<div class="athlete-overview">
					<div class="profile-pic">
						<img src="{{athlete.profile_pic|e}}">
					</div>
					<div class="basic-info">
						<p><a href="/athletes/{{athlete._id}}">{{athlete.first_name}} {{athlete.last_name}}</a></p>
						<p><span class="glyphicon glyphicon-map-marker"></span> Edinburgh, United Kingdom</p>
						{% if session.logged_in and athlete._id != current_user._id %}
							{% if athlete._id|string in current_user.following %}
								<button type=submit name="following">Following</button>
							{% else %}
								<button type=submit name="follow">Follow</button>
							{% endif %}
						{% endif %}
					</div>
					
				</div>
				{% endfor %}
			</div>
			
		</div>
	</div>
{% endblock %}
