{%- extends "bootstrap/base.html" %}

{% set page_title = page_title|default('Alex') -%}
{% block title %}
	{{ page_title}}
{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{#<link rel="shortcut icon" href="{{url_for('static', filename="resources/favicon.ico") }}">#}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script src="{{url_for('static', filename='javascript.js')}}"></script>
	{{super()}}
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
	('/', 'index', 'Home'),
	('/athletes/', 'tab2', 'Athletes'),
	('javascript:void(0)', 'tab3', 'Lifts'),
	('javascript:void(0)', 'tab4', 'Leaderboards'),
	] -%}

{% set navigation_bar_forms = [
	('javascript:void(0)', 'tab5', 'Sign In'),
	('javascript:void(0)', 'tab6', 'Sign Up'),
	] -%}

{% set dropdown = [
	] -%}


{#{% set active_page = active_page|default('index') -%}#}
<div id="navbar" class="navbar navbar-expand-sm">
	<div class="container-fluid">
		<div class="navbar-header">
			{#<a class="navbar-brand" href="/"><img src="/static/resources/am-logo.jpg" alt="Alex McGill Logo"></a>#}
			<h3 class="brand-text">COMPOUND LIFTS</h3>
		</div>
		
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				{% for href, id, caption in navigation_bar %}
					{% if id == "search" %}
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Search <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								{% for href2, id2, caption2 in dropdown %}
									<li {% if id2 == active_page %} class="active" {% endif %}>
										<a href="{{ href2|e }}">{{ caption2|e }}</a>
									</li>
								{% endfor %}
							</ul>
					{% else %}
						<li {% if id == active_page %} class="active" {% endif %}>
							<a href="{{ href|e }}">{{ caption|e }}</a>
						</li>
					{% endif %}
				{% endfor%}
				{#{% if active_page != "signup" and active_page != "login" %}#}
				<div class="form-inline navbar-right">
					{#<button id="modalSignUp" class="nav-btn my-2 my-sm-0" onclick="openModal('sign-up-content');" type="submit">Sign Up</button>
					<button id="modalSignIn" class="nav-btn my-2 my-sm-0" onclick="openModal('sign-in-content');" type="submit">Login</button>
					#}
					{% if session.logged_in %}
						<li {% if active_page == "my_profile" %} class="active" {% endif %}>
							<a href="/athletes/{{session.id}}">My Profile</a>
						</li>
						<li>
							<a href="/logout">Logout</a>
						</li>
					{% else %}
						<li {% if active_page == "signup" %} class="active" {% endif %}>
							<a href="/signup">Sign Up</a>
						</li>
						<li {% if active_page == "login" %} class="active" {% endif %}>
							<a href="/login">Login</a>
						</li>
					{% endif %}
					
				</div>
				{#{% endif %}#}
			</ul>
		</div>
		
	</div>
</div>
{#
<div id="userModal" class="modal-popup">
	<div class="modal-popup-content">
		<div class="left">
		</div>
		<div class="right">
			<div class="modal-tabs">
				<button id="sign-up-tab"  class="modal-tab-btn" onclick="openModalTab('sign-up-content');">SIGN UP</button>
				<button id="sign-in-tab" class="modal-tab-btn active" onclick="openModalTab('sign-in-content');">LOGIN</button>
			</div>
			
			<div id="sign-in-content" class="modal-tab-content">
				<div class="upper">

				</div>
				<div class="lower">
					
					<form name="login" action='/login' method='POST'>
						<div class="section">
							<p>EMAIL:</p>
							<input type="email" placeholder="" required name="email">
						</div>
						<div class="section">
							<p>PASSWORD:</p>
							<input type="password" placeholder="" required name="first-name">
						</div>
						<div class="footer">
							<button type="submit">LOGIN</button>
						</div>
					</form>
					<br /><br /><br />
					<a id="forgot-password" href="#">Forgot Your Password?</a>
				</div>
				
			</div>

			<div id="sign-up-content" class="modal-tab-content" style="display:none">
				<div class="upper">

				</div>
				<div class="lower">
					{% from "includes/_formhelpers.html" import render_field %}
					<form id="signup" name="signup" action="">
						<div class="section">
							<p>FIRST NAME:</p>
							{{render_field(form.firstname)}}
						</div>
						<div class="section">
							<p>LAST NAME:</p>
							{{render_field(form.lastname)}}
						</div>
						<div class="section">
							<p>EMAIL:</p>
							{{render_field(form.email)}}
						</div>
						<div class="section">
							<p>PASSWORD:</p>
							{{render_field(form.password)}}
						</div>
						<div class="section">
							<p>CONFIRM PASSWORD:</p>
							{{render_field(form.confirm)}}
						</div>
						<div class="footer">
							<button type="submit">SIGN UP</button>
						</div>
					</form>
				</div>			
			</div>
		</div>
	</div>
</div>
#}
{% endblock %}

<div class="container">
	{% block content %}
	{% endblock %}
</div>