{%- extends "bootstrap/base.html" %}

{% set page_title = page_title|default('Alex') -%}
{% block title %}
	{{ page_title}}
{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{#<link rel="shortcut icon" href="{{url_for('static', filename="resources/favicon.ico") }}">#}
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">
{% endblock %}

{% block scripts %}
	<script src="{{url_for('static', filename='javascript.js')}}"></script>
	{{super()}}
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
	('/', 'index', 'Home'),
	('javascript:void(0)', 'tab2', 'Athletes'),
	('javascript:void(0)', 'tab3', 'Lifts'),
	('javascript:void(0)', 'tab4', 'Leaderboards'),
	] -%}

{% set navigation_bar_forms = [
	('javascript:void(0)', 'tab5', 'Sign In'),
	('javascript:void(0)', 'tab6', 'Sign Up'),
	] -%}

{% set dropdown = [
	] -%}


{#{% set active_page = active_page|default('index') -%}#}
<div id="navbar" class="navbar navbar-expand-sm">
	<div class="container-fluid">
		<div class="navbar-header">
			{#<a class="navbar-brand" href="/"><img src="/static/resources/am-logo.jpg" alt="Alex McGill Logo"></a>#}
			<h3 class="brand-text">ATHLETE</h3>
		</div>
		
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				{% for href, id, caption in navigation_bar %}
					{% if id == "search" %}
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Search <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								{% for href2, id2, caption2 in dropdown %}
									<li {% if id2 == active_page %} class="active" {% endif %}>
										<a href="{{ href2|e }}">{{ caption2|e }}</a>
									</li>
								{% endfor %}
							</ul>
					{% else %}
						<li {% if id == active_page %} class="active" {% endif %}>
							<a href="{{ href|e }}">{{ caption|e }}</a>
						</li>
					{% endif %}
				{% endfor%}

				<div class="form-inline navbar-right">
					{#
					{% for href, id, caption in navigation_bar_forms %}
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ caption|e }}</button>
					{% endfor %}
					#}
					<button id="modalSignIn" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign In</button>
					<button id="modalSignUp" class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Up</button>
					</div>
			</ul>
		</div>
		
	</div>
</div>

<div id="userModal" class="modal-popup">
	<div class="modal-popup-content">
		{#<span class="closeBtn">&times;</span>#}
		<div class="left">
		</div>
		<div class="right">
			<div class="modal-tabs">
				<button id="sign-in-tab" class="modal-tab-btn active" onclick="openModalTab('sign-in-content');">SIGN IN</button>
				<button id="sign-up-tab"  class="modal-tab-btn" onclick="openModalTab('sign-up-content');">SIGN UP</button>
			</div>

			<div id="sign-in-content" class="modal-tab-content">
				<p>Sign in form</p>
			</div>

			<div id="sign-up-content" class="modal-tab-content" style="display:none">
				<p>Sign up form</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}

<div class="container">
	{% block content%}
	{% endblock %}
</div>
