{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="container">
		<div class="info">
			<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
		</div>
		
		<div class="featured">
			<div class="title">
				<h1>FEATURED</h1>
			</div>

			<div class="cards">
				<div class="card">
					<img src="/static/resources/lifts/deadlift.jpg">
					<p class="weight">140 KG</p>
					<h2>DEADLIFT</h2>
				</div>
				<div class="card">
					<img src="/static/resources/lifts/bench.jpg">
					<p class="weight">90 KG</p>
					<h2>BENCH</h2>
				</div>
				<div class="card">
					<img src="/static/resources/lifts/squat2.jpg">
					<p class="weight">125 KG</p>
					<h2>SQUAT</h2>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$("button.follow-btn").on('click', function(){
				var id = $(this).attr('name');

				if ( $(this).hasClass("follow-btn"))
				{
					$.ajax({
						type : "POST",
						url : "/follow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Followed user: " + result);
						}
					});
					$('#follower-count').html(function(i, val) { return +val+1 });
					$(this).removeClass('follow-btn').addClass('unfollow-btn');
				}
				else
				{
					$.ajax({
						type : "POST",
						url : "/unfollow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Unfollowed user: " + result);
						}
					});
					$('#follower-count').html(function(i, val) { return +val-1 });
					$(this).removeClass('unfollow-btn').addClass('follow-btn');
				}
			});

			$("button.unfollow-btn").on('click', function(){
				var id = $(this).attr('name');
				
				if ( $(this).hasClass("unfollow-btn"))
				{
					$.ajax({
						type : "POST",
						url : "/unfollow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Unfollowed user: " + result);
						}
					});
					$('#follower-count').html(function(i, val) { return +val-1 });
					$(this).removeClass('unfollow-btn').addClass('follow-btn');
				}
				else
				{
					$.ajax({
						type : "POST",
						url : "/follow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Followed user: " + result);
						}
					});
					$('#follower-count').html(function(i, val) { return +val+1 });
					$(this).removeClass('follow-btn').addClass('unfollow-btn');
				}
			});
		});
	</script>
{% endblock %}
