{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="black">
		<div class="page-header athletes">
			<div class="container">
				<h1>Athletes</h1>
			</div>
		</div>
		<div class="no-padding container">
			{% include 'includes/_messages.html' %}
			{% include 'includes/_athletes.html' %}
		</div>
	</div>

	<script>
		$(document).ready(function(){
			$("button.follow-btn").on('click', function(){
				var id = $(this).attr('name');

				if ( $(this).hasClass("follow-btn"))
				{
					$.ajax({
						type : "POST",
						url : "/follow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Followed user: " + result);
						}
					});
					$(this).removeClass('follow-btn').addClass('unfollow-btn');
				}
				else
				{
					$.ajax({
						type : "POST",
						url : "/unfollow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Unfollowed user: " + result);
						}
					});
					$(this).removeClass('unfollow-btn').addClass('follow-btn');
				}
			});

			$("button.unfollow-btn").on('click', function(){
				var id = $(this).attr('name');
				
				if ( $(this).hasClass("unfollow-btn"))
				{
					$.ajax({
						type : "POST",
						url : "/unfollow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Unfollowed user: " + result);
						}
					});
					$(this).removeClass('unfollow-btn').addClass('follow-btn');
				}
				else
				{
					$.ajax({
						type : "POST",
						url : "/follow/",
						data: id,
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Followed user: " + result);
						}
					});
					$(this).removeClass('follow-btn').addClass('unfollow-btn');
				}
			});
		});
	</script>
{% endblock %}
