{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<div class="athlete no-padding container">
		<br />
		<div class="info">
			{#<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>#}
			<h1>Edit Profile</h1>
		</div>
		<br />
		<div class="edit-profile">
			<div class="info-banner">
				<img class="profile-pic" src='{{athlete.profile_pic|e}}' width=120px height=120px/>
				<div class="details">
					<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
					<h2>{{athlete.email}}</h2>
				</div>
			</div>
			
			<div class="modal-tab-content">
				<div class="upper">
					
				</div>
				<div class="lower">
					{% from "includes/_formhelpers.html" import render_field %}
					<form method='POST' action="">
						<div class="section">
							<p>FIRST NAME:</p>
							<input autocomplete="given-name" id="firstname" name="firstname" type="text" value="">
						</div>
						<div class="section">
							<p>LAST NAME:</p>
							<input autocomplete="family-name" id="lastname" name="lastname" type="text" value="">
						</div>
						<div class="section">
							<p>EMAIL:</p>
							<input autocomplete="email" id="email" name="email" type="text" value="">
						</div>
						<div class="section">
							<p>PASSWORD:</p>
							<input autocomplete="new-password" id="password" name="password" required type="password" value="">
						</div>
						<div class="section">
							<p>CONFIRM PASSWORD:</p>
							<input autocomplete="new-password" id="confirm" name="confirm" type="password" value="">
						</div>
						<div class="footer">
							<button type="submit">CONFIRM</button>
						</div>
						{#{{ form.hidden_tag() }}#}
					</form>
				</div>
				<div class="flashes">
					{% include 'includes/_messages.html' %}
				</div>			
			</div>
		</div>
		
		<div class="featured">
			<div class="title">
				<h1>FEATURED</h1>
			</div>

			<div class="cards">
				<div class="card">
					<img src="/static/resources/lifts/deadlift.jpg">
					<p class="weight">140 KG</p>
					<h2>DEADLIFT</h2>
				</div>
				<div class="card">
					<img src="/static/resources/lifts/bench.jpg">
					<p class="weight">90 KG</p>
					<h2>BENCH</h2>
				</div>
				<div class="card">
					<img src="/static/resources/lifts/squat2.jpg">
					<p class="weight">125 KG</p>
					<h2>SQUAT</h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
