{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<br />
	<div class="no-padding container">
		<br />
		<div class="settings">
			<div class="settings-list">
				<ul>
					<li>Profile</li>
					<li>Lifts</li>
				</ul>
			</div>
			<div class="settings-content">
				<p>Lifts</p>
						
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							<div class="col-sm-8"><h2>Deadlift</h2></div>
							<div class="col-sm-4">
								<button id="deadlift-new" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</button>
							</div>
						</div>
					</div>
					<table id="deadlift-table" class="table table-bordered table-hover" id="{{oid|string}}">
						<thead>
							<tr>
								<th width="170px">Date</th>
								<th width="100px">Weight (KG)</th>
								<th width="250px">Video URL</th>
								<th width="300px">Description</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% if deadlifts is not none %}
								{% for lift in deadlifts %}
									<tr id="{{loop.index - 1}}">
										<td>{{lift['date']}}</td>
										<td>{{lift['weight']}}</td>
										<td>{{lift['video_url']}}</td>
										<td>{{lift['description']}}</td>
										<td>
											<a class="add" title="Confirm" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-ok"></i></a>
											<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-pencil"></i></a>
											<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-remove"></i></a>
										</td>
									</tr>
								{% endfor %}
							{% endif %}
						</tbody>
					</table>
				<div class="table-title">
					<div class="row">
						<div class="col-sm-8"><h2>Bench</h2></div>
						<div class="col-sm-4">
							<button id="bench-new" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</button>
						</div>
					</div>
				</div>
				<table id="bench-table" class="table table-bordered table-hover" id="{{oid|string}}">
					<thead>
						<tr>
							<th width="170px">Date</th>
							<th width="100px">Weight (KG)</th>
							<th width="250px">Video URL</th>
							<th width="300px">Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if bench is not none %}
							{% for lift in bench %}
								<tr id="{{loop.index - 1}}">
									<td>{{lift['date']}}</td>
									<td>{{lift['weight']}}</td>
									<td>{{lift['video_url']}}</td>
									<td>{{lift['description']}}</td>
									<td>
										<a class="add" title="Confirm" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-ok"></i></a>
										<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-pencil"></i></a>
										<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				<div class="table-title">
					<div class="row">
						<div class="col-sm-8"><h2>Squat</h2></div>
						<div class="col-sm-4">
							<button id="squat-new" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>Add New</button>
						</div>
					</div>
				</div>
				<table id="squat-table" class="table table-bordered table-hover" id="{{oid|string}}">
					<thead>
						<tr>
							<th width="170px">Date</th>
							<th width="100px">Weight (KG)</th>
							<th width="250px">Video URL</th>
							<th width="300px">Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% if squat is not none %}
							{% for lift in squat %}
								<tr id="{{loop.index - 1}}">
									<td>{{lift['date']}}</td>
									<td>{{lift['weight']}}</td>
									<td>{{lift['video_url']}}</td>
									<td>{{lift['description']}}</td>
									<td>
										<a class="add" title="Confirm" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-ok"></i></a>
										<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-pencil"></i></a>
										<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-remove"></i></a>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
				
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();
			var actions = '<a class="add" title="Confirm" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-ok"></i></a>' +
							'<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-pencil"></i></a>' +
							'<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"><span class="glyphicon glyphicon-remove"></i></a>'
			// Append table with add row form on add new button click
			$(".add-new").click(function(){
				$(this).attr("disabled", "disabled");
				var index = $("table tbody tr:last-child").index();
				var row = '<tr>' +
					'<td><input type="date" class="form-control" name="date" placeholder="Date" id="date" required></td>' +
					'<td><input type="number" min="0" max="1200" class="form-control" name="weight" placeholder="Weight" id="weight" required></td>' +
					'<td><input type="url" class="form-control url" name="video_url" placeholder="Video URL" id="video_url"></td>' +
					'<td><input type="text" class="form-control" name="description" placeholder="Description" id="description" required></td>' +
					'<td>' + actions + '</td>' +
				'</tr>';
				
				if ($(this).attr('id') == 'deadlift-new') { $('#deadlift-table').append(row); }
				else if ($(this).attr('id') == 'bench-new') { $('#bench-table').append(row); }
				else if ($(this).attr('id') == 'squat-new') { $('#squat-table').append(row); }

				$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
				$('[data-toggle="tooltip"]').tooltip();
			});
			// Add row on add button click
			$(document).on("click", ".add", function(){
				var empty = false;
				var input = $(this).parents("tr").find('input');
				input.each(function(){
					if(!$(this).val()){
						if(!$(this).hasClass("url"))
						{
							$(this).addClass("error");
							empty = true;
						}
						
					} else{
						$(this).removeClass("error");
					}
				});

				$(this).parents("tr").find(".error").first().focus();
				if(!empty){
					input.each(function(){
						$(this).parent("td").html($(this).val());
					});			
					$(this).parents("tr").find(".add, .edit").toggle();
					$(".add-new").removeAttr("disabled");
					// Post the new table row to the DB
					var output = [];
					input.each(function(){
						output.push($(this).val());
					});
					
					var lift = {
						'date' : output[0],
						'weight' : parseInt(output[1]),
						'video_url' : output[2],
						'description' : output[3]
					}
					
					$.ajax({
						type : "POST",
						url : "/lifts/add/deadlift",
						data: JSON.stringify(lift),
						contentType: 'application/json;charset=UTF-8',
						success: function(result) {
							console.log("Added Lift: " + result);
						}
					});
					location.reload();
				}
			});
			// Edit row on edit button click
			$(document).on("click", ".edit", function(){
				var count = 0;
				$(this).parents("tr").find("td:not(:last-child)").each(function(){
					if(count == 0) { $(this).html('<input type="date" class="form-control" value="' + $(this).text() + '">');}
					else if(count == 1) { $(this).html('<input type="number" class="form-control" value="' + $(this).text() + '">');}
					else if(count == 2) { $(this).html('<input type="url" class="form-control url" value="' + $(this).text() + '">');}
					else { $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');}
					count++;
				});
				$(this).parents("tr").find(".add, .edit").toggle();
				$(".add-new").attr("disabled", "disabled");
			});

			// Delete row on delete button click
			$(document).on("click", ".delete", function(){
				id = $(this).closest("tr").attr('id');
				$(this).parents("tr").remove();
				$(".add-new").removeAttr("disabled");
				//Post the table row removal to the DB
				$.ajax({
					type : "POST",
					url : "/lifts/remove/deadlift",
					data: id,
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						console.log("Removed Lift: " + result);
					}
				});
				location.reload();
			});
		});
	</script>
{% endblock %}
