{%- extends "bootstrap/base.html" %}

{% set page_title = page_title|default('Compound Lifts') -%}
{% block title %}
	{{ page_title}}
{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/preview/searchPane/dataTables.searchPane.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='javascript.js')}}"></script>

	<script>
		$(document).ready(function() {
			
			
			var table = $('#example').DataTable( {
				"order": [[ 0, "desc" ]],
				"deferRender": true,
				"columns": [
					{ "width": "12%" },
					{ "width": "13%" },
					{ "width": "10%" },
					null,
					null
				],
				searchPane: {
					columns: [':contains("Lift")'],
					threshold : 0
				}
			});
		});
	</script>
{{super()}}
<link rel="shortcut icon" href="{{url_for('static', filename='resources/favicon.ico') }}">
{{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">

	
{% endblock %}

{% block scripts %}
	
{% endblock %}

{% block navbar %}
{% set navigation_bar = [
	('/', 'index', 'Home'),
	('/feed', 'feed', 'Activity Feed'),
	('/athletes/', 'athletes', 'Athletes'),
	('/leaderboards', 'leaderboards', 'Leaderboards'),
	('/calculator', 'calculator', 'Calculator'),
	] -%}

{% set navigation_bar_forms = [
	('javascript:void(0)', 'tab5', 'Sign In'),
	('javascript:void(0)', 'tab6', 'Sign Up'),
	] -%}

{% set active_page = active_page|default('index') -%}

<div id="navbar" class="navbar navbar-expand-sm {% if active_page !='index' %} solid-nav {% endif %}">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="/static/resources/logo-text.png" alt="Alex McGill Logo"></a>
		</div>
		
		<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<ul class="nav navbar-nav spacer">
				{% for href, id, caption in navigation_bar %}
					{% if id == "search" %}
						<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Search <span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								{% for href2, id2, caption2 in dropdown %}
									<li {% if id2 == active_page %} class="active" {% endif %}>
										<a href="{{ href2|e }}">{{ caption2|e }}</a>
									</li>
								{% endfor %}
							</ul>
					{% elif id == "feed" %}
						{% if session.logged_in %}
							<li {% if id == active_page %} class="active" {% endif %}>
								<a href="{{ href|e }}">{{ caption|e }}</a>
							</li>
						{% endif %}
					{% else %}
						<li {% if id == active_page %} class="active" {% endif %}>
							<a href="{{ href|e }}">{{ caption|e }}</a>
						</li>
					{% endif %}
				{% endfor%}
			</ul>
			<div class="form-inline navbar-right">
				<ul>
					{% if session.logged_in %}
						<li class="dropdown">
							<ul class="dropdown-menu dropdown-menu-right">
								<li>
									<a href="/athletes/{{ session.id }}">My Profile</a>
								</li>
								<li {% if active_page == "settings" %} class="active" {% endif %}>
									<a href="/athletes/edit/">Settings</a>
								</li>
							</ul>
						
							<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">{{session.fullname}} <span class="caret"></span></a>
						</li>
						<li>
							<a href="/logout">Logout</a>
						</li>
					{% else %}
						<li {% if active_page == "signup" %} class="active" {% endif %}>
							<a href="/signup">Sign Up</a>
						</li>
						<li {% if active_page == "login" %} class="active" {% endif %}>
							<a href="/login">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}

<div class="container">
	{% block content %}
	{% endblock %}
</div>
