{% extends "base.html" %}
{% set active_page = 'calculator' %}
{% block content %}
	<div class="page-background one">
		<div class="container">
            <br />{% include 'includes/_messages.html' %}
            <div class="center-div">
                <div class="calc">
                    <div class="top">
                        <h1>ONE REP MAX CALCULATOR</h1>
                        <div class="calc-input">
                            <div class="column">
                                <p>WEIGHT LIFTED</p>
                                <input id="weight" type="number" placeholder="Weight" required>
                                <p class="weight-warning">Please enter a weight first</p>
                            </div>
                            
                            <div class="column">
                                <p>REPS</p>
                                <select id="reps">
                                    {% for i in range(11) %}
                                        <option value="{{i+1}}">{{i+1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <button id="calculate">CALCULATE</button>
                    </div>
                    
                    <div class="bottom">
                        <h3>YOUR ESTIMATED ONE REP MAX (1RM): <span id="1rm"></span></h3>
                        <div class="calc-results">
                            <div class="results-subheader">
                                <p>2 REP MAX</p>
                                <p>3 REP MAX</p>
                            </div>
                            <div class="results-row">
                                <input id="2rm" type="text" readonly>
                                <input id="3rm" type="text" readonly>
                            </div>
                            <div class="results-subheader">
                                <p>4 REP MAX</p>
                                <p>5 REP MAX</p>
                            </div>
                            <div class="results-row">
                                <input id="4rm" type="text" readonly>
                                <input id="5rm" type="text" readonly>
                            </div>
                            <div class="results-subheader">
                                <p>6 REP MAX</p>
                                <p>7 REP MAX</p>
                            </div>
                            <div class="results-row">
                                <input id="6rm" type="text" readonly>
                                <input id="7rm" type="text" readonly>
                            </div>
                            <div class="results-subheader">
                                <p>8 REP MAX</p>
                                <p>9 REP MAX</p>
                            </div>
                            <div class="results-row">
                                <input id="8rm" type="text" readonly>
                                <input id="9rm" type="text" readonly>
                            </div>
                            <div class="results-subheader">
                                <p>10 REP MAX</p>
                                <p>11 REP MAX</p>
                            </div>
                            <div class="results-row">
                                <input id="10rm" type="text" readonly>
                                <input id="11rm" type="text" readonly>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>            
		</div>
    </div>
    <script>
        $(document).ready(function(){
			
			$("#calculate").on('click', function(){
                var weight = $("#weight").val();
                var reps = $("#reps").val();

                if (weight != "")
                {
                    $(".weight-warning").removeClass("active");
                    // Rep max percentages (% of 1 rep max). 1rep = 100%, 2 rep = 95%...
                    var percentages = [100, 95, 93, 90, 87, 85, 83, 80, 77, 75, 73];
                    // Formula for one rep max calculation = weight * (100 / rep_percentage)
                    var one_rep_max = Math.round(weight * (100 / percentages[reps-1]))
                    $("#1rm").text(one_rep_max);
                    
                    for (i = 2; i <= 11; i++)
                    {
                        // Formula for X rep max calculation = 1_rep_max_weight * (x_rep_percentage / 100)
                        var current_rm = Math.round(one_rep_max * (percentages[i-1] / 100))
                        $('#' + i + 'rm').val(current_rm);
                    }
                }
                else
                {
                    $(".weight-warning").removeClass("active");
                    $(".weight-warning").addClass("active");
                }
            });
        });

    </script>
{% endblock %}
