{% extends "base.html" %}
{% set active_page = 'settings' %}
{% block content %}
	<br />
	<div class="no-padding container">
		<br />
		<div class="settings">
			<div class="settings-list">
				<a href="/athletes/edit/profile"><button id="btn-profile" class="btn active">Profile</button></a>
				<a href="/athletes/edit/lifts"><button id="btn-lifts" class="btn">Lifts</button></a>
				<a href="/athletes/edit/account"><button id="btn-account" class="btn">Account</button></a>
			</div>
			<div class="settings-content">				
				<div id="tab-profile" class="tab">
					<div class="edit-profile">
						{#<div class="info-banner">
							<img class="profile-pic" src='{{athlete.profile_pic|e}}' width=120px height=120px/>
							<div class="details">
								<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
								<h2>{{athlete.email}}</h2>
							</div>
						</div>#}
						{% from "includes/_formhelpers.html" import render_field %}
						<div class="profile-form">
							<form method='POST' action="" enctype="multipart/form-data">
								<div class="left">
									<div class="section">
										<p>BIO:</p>
										{{render_field(profile_form.bio, autocomplete="bio")}}
									</div>
									<div class="section">
										<p>TRAINING PROGRAM:</p>
										<div class="training-header">
											{{render_field(profile_form.program_name, autocomplete="program_name", placeholder="Name")}}
											{{render_field(profile_form.program_start_date, autocomplete="program_start_date", placeholder="YYYY-MM-DD")}}
										</div>
										<div class="training-program">
											{{render_field(profile_form.program_desc, autocomplete="program_desc", placeholder="Description")}}
										</div>
										
									</div>
								</div>
								<div class="right">
									<div class="section">
										{{profile_form.profile_pic.label()}}
										{{profile_form.profile_pic(class="form-control-file")}}
										{% if profile_form.profile_pic.errors %}
											{% for error in profile_form.profile_pic.errors %}
												<p class="error">{{ error }}</p>
											{% endfor %}
										{% endif %}
									</div>
									<div class="section">
										{{profile_form.cover_pic.label()}}
										{{profile_form.cover_pic(class="form-control-file")}}
										{% if profile_form.cover_pic.errors %}
											{% for error in profile_form.cover_pic.errors %}
												<p class="error">{{ error }}</p>
											{% endfor %}
										{% endif %}
									</div>
									<div class="section">
										<p>CITY:</p>
										{{render_field(profile_form.city, autocomplete="city")}}
									</div>
									<div class="section">
										<p>COUNTRY:</p>
										{{render_field(profile_form.country, autocomplete="country")}}
									</div>
									<div class="section section-small">
										<p>DOB:</p>
										{{render_field(profile_form.dob, autocomplete="dob", placeholder="YYYY-MM-DD")}}
									</div>
									<div class="section section-small">
										<p>GENDER:</p>
										{{render_field(profile_form.gender)}}
									</div>
									<div class="section section-small">
										<p>WEIGHT (KG):</p>
										{{render_field(profile_form.weight, autocomplete="weight")}}
									</div>
									
								</div>
							</div>
						</div>
						<div class="footer">
							<button type="submit">UPDATE</button>
						</div>
						{{ profile_form.hidden_tag() }}
					</form>
					<div class="flashes">
						<br /><br /><br />
						{% include 'includes/_messages.html' %}
					</div>
						
				</div>
			</div>
		</div>
	</div>
{% endblock %}
