{% extends "base.html" %}
{% set active_page = 'athletes' %}
{% block content %}
	<br />
	<div class="no-padding container">
		<br />
		<div class="settings">
			<div class="settings-list">
				<a href="/athletes/edit/profile"><button id="btn-profile" class="btn active">Profile</button></a>
				<a href="/athletes/edit/lifts"><button id="btn-lifts" class="btn">Lifts</button></a>
				<a href="/athletes/edit/account"><button id="btn-account" class="btn">Account</button></a>
			</div>
			<div class="settings-content">				
				<div id="tab-profile" class="tab">
					<div class="edit-profile">
						<div class="info-banner">
							<img class="profile-pic" src='{{athlete.profile_pic|e}}' width=120px height=120px/>
							<div class="details">
								<h1>{{athlete.first_name}} {{athlete.last_name}}</h1>
								<h2>{{athlete.email}}</h2>
							</div>
						</div>
						<h1>Edit Profile</h1>
						{% from "includes/_formhelpers.html" import render_field %}
						<div class="edit-form">
							<form method='POST' action="">
								<div class="section">
									<p>BIO:</p>
									{{render_field(profile_form.bio, autocomplete="bio")}}
								</div>
								<div class="section">
									<p>CITY:</p>
									{{render_field(profile_form.city, autocomplete="city")}}
								</div>
								<div class="section">
									<p>COUNTRY:</p>
									{{render_field(profile_form.country, autocomplete="country")}}
								</div>
								<div class="section">
									<p>GENDER:</p>
									{{render_field(profile_form.gender)}}
								</div>
								<div class="section">
									<p>AGE:</p>
									{{render_field(profile_form.age, autocomplete="age")}}
								</div>
								<div class="section">
									<p>WEIGHT:</p>
									{{render_field(profile_form.weight, autocomplete="weight")}}
								</div>
								<div class="footer">
									<button type="submit">UPDATE</button>
								</div>
								{{ profile_form.hidden_tag() }}
							</form>
							<div class="flashes">
								<br /><br /><br />
								{% include 'includes/_messages.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
