{% extends "base.html" %}
{% set active_page = 'feed' %}
{% set page_title = 'Activity Feed | Compound Lifts' %}
{% block content %}
<div class="white-bg">
	<div class="page-header athletes">
		<div class="container">
			<h1>ACTIVITY FEED</h1>
		</div>
	</div>
	<div class="no-padding container">
		{% include 'includes/_messages.html' %}
		<div class="activity-feed">
			<div class="lift">
				{% if following_count > 0 %}
					{% include 'includes/_feed-lift.html' %}
				{% else %}
					<div class="no-following">
						<h1>You are not currently following anyone</h1>
						<h2>Discover other athletes to follow on the Athletes page <a href="/athletes">here</a></h2>
					</div>	
					{% if feed|length > 0 %} 
						{% include 'includes/_feed-lift.html' %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function(){

			$(".btn-submit-comment").on('click', function(){
				var athlete_id = $(this).closest('.comments').data('athlete_id');
				var commenter_id = "{{current_user._id}}";
				var lift_type = $(this).closest('.comments').data('lift_type');
				var lift_index = $(this).closest('.comments').data('lift_index');
				var comment = $('#' + lift_type + '-comment-' + lift_index).val();
				data = {
					'athlete_id' : athlete_id,
					'commenter_id' : commenter_id,
					'comment' : comment,
					'lift_type' : lift_type,
					'lift_index' : lift_index
				};
				
				$.ajax({
					type : "POST",
					url : "/comment/add",
					data: JSON.stringify(data),
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						console.log("New Comment: " + result);
					}
				});
				
				location.reload();
			});

			$(".btn-delete-comment").on('click', function(){
				var athlete_id = $(this).closest('.comments').data('athlete_id');
				var commenter_id = $(this).closest('.comment').data('commenter');
				var lift_type = $(this).closest('.comments').data('lift_type');
				var lift_index = $(this).closest('.comments').data('lift_index');
				
				var comment = $('#' + lift_type + '-comment-' + lift_index).val();
				var comment_index = $(this).closest('.comment').data('index');
				
				var comment_div = $(this).closest('.comment');
				
				data = {
					'athlete_id' : athlete_id,
					'commenter_id' : commenter_id,
					'comment_index' : comment_index,
					'comment' : comment,
					'lift_type' : lift_type,
					'lift_index' : lift_index,
				};
				
				$.ajax({
					type : "POST",
					url : "/comment/delete",
					data: JSON.stringify(data),
					contentType: 'application/json;charset=UTF-8',
					success: function(result) {
						console.log("Removed Comment: " + result);
						// Hide comment to remove without needing a page refresh
						comment_div.hide();
					}
				});
			});
		});
	</script>
</div>
{% endblock %}
