{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}
	<div class="no-padding container">
		<br />{% include 'includes/_messages.html' %}
		<div class="activity-feed">
            
                <div class="lift">
                    {% include 'includes/_feed-lift.html' %}
                    
                    
                    {#<p>{{lift.user_id}}</p>
                    <p>{{lift.full_name}}</p>
                    <p>{{lift.lift_type}}</p>
                    <p>{{lift.weight}}</p>
                    <p>{{lift.description}}</p>
                    <p>{{lift.date}}</p>
                    <p>{{lift.date_added}}</p>
                    <img width="100px" height="100px" src={{lift.profile_pic}}>#}
                </div>
		</div>
    </div>
{% endblock %}
