{% extends "base.html" %}
{% set active_page = 'index' %}
{% block content %}
	<div class="home-fill">
		<div class="content">
			<div class="banner">
				<div class="header">
					<div class="home-display">
						<img src="/static/resources/logo-text.png">
					</div>
					<div class="sub">
						<h2>They call it Scranton what? The electric city! They call it that cos of the electricity</h2>
					</div>
				</div>
			</div>
			<div class="features">
				<div class="text">
					<br />
					<h2>Key Features</h2>
					<br />
				</div>
				<div class="no-padding container-fluid">
					<div class="row">
						<a>
							<div class="item">
								<span class="glyphicon glyphicon-list-alt"></span>
								<p>Activity Feed</p>
							</div>
						</a>
						<a href="/athletes">
							<div class="item">
								<span class="glyphicon glyphicon-user"></span>
								<p>Athletes</p>
							</div>
						</a>
						<a>
							<div class="item">
								<span class="glyphicon glyphicon-star-empty"></span>
								<p>Training Programs</p>
							</div>
						</a>
						<a href="/leaderboards">
							<div class="item">
								<span class="glyphicon glyphicon-stats"></span>
								<p>Leaderboards</p>
							</div>
						</a>
						<a href="/calculator">
							<div class="item">
								<span class="glyphicon glyphicon-modal-window"></span>
								<p>1RM Calculator</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="call-to-action">
				<div class="text">
					<br />
					<h2>Sign Up Today!</h2>
					<p>What are you waiting for? Click <a href="/signup">here</a> to sign up and create your account today.</p>
					<p>Already have an account? Login <a href="/login">here</a>.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
