{% extends "base.html" %}
{% set active_page = 'leaderboards' %}
{% block content %}
<div class="white-bg">
	<div class="page-header athletes">
		<div class="container">
			<h1>Leaderboards</h1>
		</div>
	</div>
	<div class="no-padding container">
		{% include 'includes/_messages.html' %}
		<div class="table-content">
			<table id="example" class="display" style="width:100%">
				<thead>
					<tr>
						<th>Date</th>
						<th>Lift</th>
						<th>Weight (KG)</th>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for lift in all_lifts %}
					<tr>
						<td>{{lift.date}}</td>
						<td>{{lift.type}}</td>
						<td>{{lift.weight}}</td>
						<td><a href="/athletes/{{lift.athlete_id}}">{{lift.full_name}}</a></td>
						<td>{{lift.description}}</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<!--
						<tr>
							<th></th>
							<th>Type</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					-->
					
				</tfoot>
			</table>
		</div>
	</div>
</div>
{% endblock %}
