html, body {
	height: 100%;
	margin: 0;
	min-width: 600px;
	max-width: 100%;
}

body {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
	width: 100%;
	height: 100%;
	/*background: rgb(36, 36, 36);*/
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}

button:focus, input:focus {
	outline: 0;
}

.black {
	width: 100%;
	height: 100%;
	/*background: rgb(36, 36, 36);*/
	background: white;
	background-size: cover;
	z-index: 0;
	margin-top: -95px;
}

.page-background {
	width: 100%;
	height: 102%;
	background-size: cover;
	z-index: 0;
	margin-top: -100px;
	background-attachment: fixed;
}

.page-background.one {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
}

/* Same image right now but will eventually change */
.page-background.two {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
}

.navbar {
	background: #0f0f0f !important;
	width: 100%;
	padding: 0 5%;
	height: 80px;
	margin: 0;
	z-index: 1;
	border-radius: 0;
}

.navbar-header {
	width: 300px;
}

.navbar-header a {
	max-width: 100%;
	margin-left: 0 !important;
}

.navbar .navbar-brand {
	max-width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}

.navbar .navbar-brand img{
	max-width: 100%;
}

.navbar .container-fluid {
	margin: 15px auto;
	max-width: 1250px;
	padding: 0;
	height: auto;
}

.navbar .container-fluid .collapse {
	padding: 0;
	margin-left: 300px;
	margin-top: 13px;
}

.navbar .container-fluid .collapse ul.spacer {
	margin-left: 15%;
}

@media only screen and (max-width: 1025px) {
    .navbar .container-fluid .collapse ul.spacer {
		margin-left: 0 !important;
	}

	.navbar-header {
		width: 150px;
	}

	.navbar .container-fluid .collapse {
		margin-left: 20px;
	}

}

.brand-text {
	border: 2px solid white;
	padding: 5px 15px;
	color: white;
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
}

.navbar li {
	display: flex;
	align-items: center;
	/* background: lightblue; */
	height: 100%;
}

.navbar li a, .nav-btn {
	color: white !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0 !important;
	margin: 0 15px;
	background: none;
	border: none;
	margin-top: -2px;
}

.navbar li a:hover, .nav-btn:hover {
	margin-top: 0;
	font-weight: bolder;
	text-decoration: none !important;
	background: none;
	color: #ec3642 !important;
	border-bottom: solid 2px #ec3642;
	  transition: border-width 0.2s linear;
	  transition-property: left right;
	  transition-timing-function: ease-out;
}

.navbar li a:focus {
	background: none;
	outline: 0;
}

.form-inline {
	display: flex;
	align-items: center;
}

.navbar .active a {
	background: none !important;
	border-bottom: 2px solid #ec3642;
}

.nav-btn:hover {
	color: #ec3642;
}


.form-inline {
	height: 100%;
	padding-left: 0;
	width: auto;
	margin-left: 0;
}

.form-inline ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.container {
	padding-top: 100px;
	color:white;
}

.modal-popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: none;
	/*background-color: rgba(0,0,0,0.5);*/
	
}

.modal-popup-content {
	background-color: none;
	margin: 10% auto;
	width: 900px;
	height: 600px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
	animation-name: modalOpen;
	animation-duration: 1s;
	display: flex;
	flex-direction: row;
}

.modal-popup-content .left {
	width: 600px;
	height: 100%;
	background: lightblue;
	border-radius: 10px 0 0 10px;
	padding: 10px;
	background: url('resources/modal/1.jpg') no-repeat center;
	background-size: cover;
}

.modal-popup-content .right {
	width: 300px;
	height: 100%;
	background: white;
	border-radius: 0 10px 10px 0;
	padding: 30px 50px;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.modal-popup-content .right .modal-tabs {
	width: 100%;
	height: 40px;
	/* background: lightcoral; */
}

.modal-tab-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 90%;
}

.modal-tab-content .upper {
	height: 60px;
}

.modal-tab-content .alert {
	text-align: center;
} 

.modal-tab-btn {
	background: none;
	/* border: solid black 1px; */
	border: none;
	font-size: 14px;
	padding: 0;
	margin: 0 10px 0 0;
}

.modal-tab-btn a, .modal-tab-btn a:hover {
	text-decoration: none;
	color: #ccc;
}

.modal-tab-btn.active a {
	color: #2cd5ab;
	border-bottom: 2px solid #2cd5ab;
}

/* Set 'from{opacity: 0}' for modal to fade in */
@keyframes modalOpen {
	from{opacity: 1}
	to {opacity: 1}
}

form .section p, form .section .header {
	color: rgb(165, 165, 165);
	font-size: 11px;
	margin: 0;
}

form .section p.error {
	color: red !important;
}

form .section {
	margin-bottom: 30px !important;
}

form .section input {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 0 2px;
}
form .footer {
	float: right;
}

form .footer button {
	border: none;
	background: #2cd5ab;
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	font-weight: bolder;
	font-size: 11px;
	margin-top: 3px;
}

form .section input:focus {
	border-bottom: 1px solid #2cd5ab;
}

#forgot-password {
	float: right;
}

.flashes {
	margin-top: 10px;
}

.closeBtn {
	color: #ccc;
	float: right;
	font-size: 35px;
}
.closeBtn:hover, .closeBtn:focus {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.page-header {
	width: 100%;
	background-size: cover;
	height: 240px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

.page-header.athletes {
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url('resources/headers/marble.jpg') no-repeat center;
}

.no-padding.container {
	padding-top: 0;
}


.athletes-content {
	width: 100%;
	/*background: rgb(27, 27, 27);*/
	background: rgb(240, 240, 240);
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.athletes-content .athlete-search {
	margin-bottom: 20px;
	color: black;
}

.athletes-content form input {
	height: 38px;
}

.athlete-search input, .athlete-search button {
	height: 38px;
	padding: 2px 4px;
	font-size: 18px;
}

.athlete-search form button {
	margin: 0px;
	height: 38px;
	padding: 5px;
}

.athlete-search form a {
	height: 38px;
	padding: 2px 4px;
	font-size: 18px;
	line-height: 34px;
}

.athletes-content .athlete-overview {
	width: 100%;
	height: 110px;
	background: rgba(117, 117, 117, 0.1);
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.1);
}

.athletes-content .athlete-overview .profile-pic{
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.athletes-content .athlete-overview .profile-pic img{
	max-width: 90%;
	max-height: 90%;
	background: white;
	object-fit: cover;
}

.athlete-overview .basic-info {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: 10px;
	color: black;
	font-size: 15px;
}

.athlete-overview .basic-info a {
	font-size: 18px;
	font-weight: bolder !important;
}

.athlete-overview .basic-info .glyphicon {
	color: rgb(126, 126, 126);
}


.athlete-overview .basic-info button {
	width: 100px;
	height: 30px;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
}

button.unfollow-btn:hover {
	transition-duration: 0.5s;
	background-color: #ec3642;
	color: white;
	font-weight: bold;
}

button.unfollow-btn:before {
	content: "Following";
}

button.unfollow-btn:hover:before {
	content: "Unfollow";
}

button.follow-btn:before {
	content: "Follow";
}

button.unfollow-btn {
	color: white;
	background: #161616;
}

button.follow-btn {
	color: white;
	background: #161616;
}

button.follow-btn:hover {
	background: #424242;
	transition: 0.5s;
}

.athlete {
	background: rgba(241, 241, 241, 0.9);
}

.athlete .container {
	color: black;
}

.athlete .cover-pic {
	width: 100%;
	height: 350px;
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
}

.athlete .profile-pic {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	border: 4px solid white;
	margin-top: -100px;
	background: lightgreen;
	object-fit: cover;
}

.athlete .top {
	display: flex;
	flex-direction: row;
}

.athlete .top .social
{
	display: flex;
	flex-direction: column;
}

.athlete .social button {
	width: 100%;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
}


.social .follow {
	display: flex;
	flex-direction: row;
	/* border: 2px solid black; */
	justify-content: space-evenly;
	padding: 3px;
	font-family: 'Montserrat', sans-serif;
}

.social .follow .followers, .social .follow .following {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social .follow a {
	font-size: 30px;
}

.social .follow p {
	font-size: 15px;
	color: black;
}

.athlete .top .split {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.athlete .top .split .breadcrumb {
	margin: 0;
	background: none;
	color: black;
}

.info {
	margin: 0;
	padding: 0 5px;
	color: black;
	border: 1px solid black;
	/*background: #161616; */
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.info h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
}

.athlete .top .info p {
	border-bottom: 1px solid rgb(38,38,38);
}

.featured .title {
	text-transform: uppercase;
	border-bottom: 1px solid black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: black;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10px;
	color: white;
}

.cards .card {
	width: 300px;
	height: 340px;
	background: #161616;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
	margin-bottom: 20px;
}

.cards .card img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.cards .card p.weight {
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
	color: #ec3642;
}

.cards .card h2 {
	margin: 0;
	font-size: 50px;
}

.edit-profile {
	width: 300px;
}

.edit-profile .profile-pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid white;
	background: lightgreen;
	object-fit: cover;
	margin-top: 0;
}

.info-banner {
	display: flex;
	flex-direction: row;
	color: black;
	width: 600px;
	background: white;
	padding: 15px;
	border: 2px solid #ccc;
}

.info-banner .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.info-banner .details h2 {
	margin: 0;
}