html, body {
	height: 100%;
	margin: 0;
	min-width: 600px;
	max-width: 100%;
}

body {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
	width: 100%;
	height: 100%;
	/*background: rgb(36, 36, 36);*/
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}

h1 {
	color: white;
}
button:focus, input:focus {
	outline: 0 !important;
}

.black {
	width: 100%;
	min-height: 100%;
	height: auto;
	/*background: rgb(36, 36, 36);*/
	background: white;
	background-size: cover;
	z-index: 0;
	margin-top: -95px;
}

.page-background {
	width: 100%;
	height: 102%;
	background-size: cover;
	z-index: 0;
	margin-top: -100px;
	background-attachment: fixed;
}

.page-background.one {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
}

/* Same image right now but will eventually change */
.page-background.two {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),url('resources/barbell-squat.jpg') no-repeat center;
}

.navbar {
	background: #0f0f0f !important;
	width: 100%;
	padding: 0 5%;
	height: 80px;
	margin: 0;
	z-index: 1;
	border-radius: 0;
}

.navbar-header {
	width: 300px;
}

.navbar-header a {
	max-width: 100%;
	margin-left: 0 !important;
}

.navbar .navbar-brand {
	max-width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}

.navbar .navbar-brand img{
	max-width: 100%;
}

.navbar .container-fluid {
	margin: 15px auto;
	max-width: 1250px;
	padding: 0;
	height: auto;
}

.navbar .container-fluid .collapse {
	padding: 0;
	margin-left: 300px;
	margin-top: 13px;
}

.navbar .container-fluid .collapse ul.spacer {
	margin-left: 15%;
}

@media only screen and (max-width: 1025px) {
    .navbar .container-fluid .collapse ul.spacer {
		margin-left: 0 !important;
	}

	.navbar-header {
		width: 150px;
	}

	.navbar .container-fluid .collapse {
		margin-left: 20px;
	}

}

.brand-text {
	border: 2px solid white;
	padding: 5px 15px;
	color: white;
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
}

.navbar li {
	display: flex;
	align-items: center;
	/* background: lightblue; */
	height: 100%;
}

.navbar li a, .nav-btn {
	color: white !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0;
	margin: 0 15px;
	background: none;
	border: none;
	margin-top: -2px;
}

.navbar li a:hover, .nav-btn:hover {
	font-weight: bolder;
	text-decoration: none !important;
	background: none;
	color: #ec3642 !important;
	border-bottom: solid 2px #ec3642;
	  transition: border-width 0.2s linear;
	  transition-property: left right;
	  transition-timing-function: ease-out;
}

.navbar li a:focus {
	background: none;
	outline: 0;
	text-decoration: none;
}

/* DROPDOWN START */

.form-inline li ul.dropdown-menu {
	display: none;
}

.form-inline li.open ul.dropdown-menu {
	display: flex;
	flex-direction: column;
}

.form-inline li.open {
	text-decoration: none;
}


ul.dropdown-menu {
	box-shadow: black 2px;
	background: #0f0f0f !important;
	flex-direction: column;
	justify-content: right;
	padding: 5px 0 15px 0;
	margin: 0;
	height: 85px !important;
	min-width: 100px;
}

ul.dropdown-menu li {
	height: 35px;
	width: 100px;
	margin: 2px 10px;
}

ul.dropdown-menu li a {
	height: auto;
	width: auto;
	margin: 0;
	padding: 2px 0;
	text-align: left;
}
ul.dropdown-menu li a:hover {
	margin: 0;
}

.navbar ul.dropdown-neby li .active {
	border-bottom: 2px solid white;
}

.form-inline ul li a:hover {
	border-bottom: none;
}

.form-inline ul li ul li a:hover {
	border-bottom: 2px solid #ec3642;
}

/* DROPDOWN END */


.navbar .active a {
	background: none !important;
	border-bottom: 2px solid #ec3642;
}

.nav-btn:hover {
	color: #ec3642;
}

.form-inline {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 0;
	width: auto;
	margin-left: 0;
}

.form-inline ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.container {
	padding-top: 100px;
	color:black;
}

.modal-popup {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: none;
	/*background-color: rgba(0,0,0,0.5);*/
	
}

.modal-popup-content {
	background-color: none;
	margin: 10% auto;
	width: 900px;
	height: 600px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
	animation-name: modalOpen;
	animation-duration: 1s;
	display: flex;
	flex-direction: row;
}

.modal-popup-content .left {
	width: 600px;
	height: 100%;
	background: lightblue;
	border-radius: 10px 0 0 10px;
	padding: 10px;
	background: url('resources/modal/1.jpg') no-repeat center;
	background-size: cover;
}

.modal-popup-content .right {
	width: 300px;
	height: 100%;
	background: white;
	border-radius: 0 10px 10px 0;
	padding: 30px 50px;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.modal-popup-content .right .modal-tabs {
	width: 100%;
	height: 40px;
	/* background: lightcoral; */
}

.modal-tab-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	height: 90%;
	background: white;
}

.modal-tab-content .upper {
	height: 60px;
}

.modal-tab-content .alert {
	text-align: center;
} 

.modal-tab-btn {
	background: none;
	/* border: solid black 1px; */
	border: none;
	font-size: 14px;
	padding: 0;
	margin: 0 10px 0 0;
}

.modal-tab-btn a, .modal-tab-btn a:hover {
	text-decoration: none;
	color: #ccc;
}

.modal-tab-btn.active a {
	color: #2cd5ab;
	border-bottom: 2px solid #2cd5ab;
}

/* Set 'from{opacity: 0}' for modal to fade in */
@keyframes modalOpen {
	from{opacity: 1}
	to {opacity: 1}
}

form .section p, form .section .header {
	color: rgb(165, 165, 165);
	font-size: 11px;
	margin: 0;
}

form .section p.error {
	color: red !important;
}

form .section {
	margin-bottom: 30px !important;
}

form .section input {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 0 2px;
}
.footer {
	float: right;
}

.footer button {
	border: none;
	background: #2cd5ab;
	color: white;
	padding: 10px 20px;
	border-radius: 30px;
	font-weight: bolder;
	font-size: 11px;
	margin-top: 3px;
}

form .section input:focus {
	border-bottom: 1px solid #2cd5ab;
}

#forgot-password {
	float: right;
}

.flashes {
	margin-top: 10px;
}

.closeBtn {
	color: #ccc;
	float: right;
	font-size: 35px;
}
.closeBtn:hover, .closeBtn:focus {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.page-header {
	width: 100%;
	background-size: cover;
	height: 240px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
}

.page-header.athletes {
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),url('resources/headers/marble.jpg') no-repeat center;
}

.no-padding.container {
	padding-top: 0;
}


.athletes-content {
	width: 100%;
	/*background: rgb(27, 27, 27);*/
	background: rgb(240, 240, 240);
	padding: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.athletes-content .athlete-search {
	margin-bottom: 20px;
	color: black;
}

.athletes-content form input {
	height: 38px;
}

.athlete-search input, .athlete-search button {
	height: 38px;
	padding: 2px 4px;
	font-size: 18px;
}

.athlete-search form button {
	margin: 0px;
	height: 38px;
	padding: 5px;
}

.athlete-search form a {
	height: 38px;
	padding: 2px 4px;
	font-size: 18px;
	line-height: 34px;
}

.athletes-content .athlete-overview {
	width: 100%;
	height: 110px;
	background: rgba(117, 117, 117, 0.1);
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.1);
}

.athletes-content .athlete-overview .profile-pic{
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.athletes-content .athlete-overview .profile-pic img{
	width: 96px;
	height: 96px;
	background: white;
	object-fit: cover;
	border-radius: 40%;
	border: 1px solid rgba(0,0,0,0.1)
}

.athlete-overview .basic-info {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-left: 10px;
	color: black;
	font-size: 15px;
}

.athlete-overview .basic-info a {
	font-size: 18px;
	font-weight: bolder !important;
}

.athlete-overview .basic-info .glyphicon {
	color: rgb(126, 126, 126);
}


.athlete-overview .basic-info button {
	width: 100px;
	height: 30px;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
}

button.unfollow-btn:hover {
	transition-duration: 0.5s;
	background-color: #ec3642;
	color: white;
	font-weight: bold;
}

button.unfollow-btn:before {
	content: "Following";
}

button.unfollow-btn:hover:before {
	content: "Unfollow";
}

button.follow-btn:before {
	content: "Follow";
}

button.unfollow-btn {
	color: white;
	background: #161616;
}

button.follow-btn {
	color: white;
	background: #161616;
}

button.follow-btn:hover {
	background: #424242;
	transition: 0.5s;
}

.athlete {
	background: rgb(243, 243, 243);
}

.athlete h1 {
	color: black;
}

.athlete .container {
	color: black;
}

.athlete .cover-pic {
	width: 100%;
	height: 350px;
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
}

.athlete .profile-pic {
	width: 210px;
	height: 210px;
	border-radius: 40%;
	border: 4px solid white;
	margin-top: -100px;
	background: white;
	object-fit: cover;
}

.athlete .profile-pic.no-margin {
	margin-top: 0;
}

.athlete .top {
	display: flex;
	flex-direction: row;
}

.athlete .top .social
{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.athlete .social button {
	width: 100%;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
}


.social .follow {
	display: flex;
	flex-direction: row;
	/* border: 2px solid black; */
	justify-content: space-evenly;
	padding: 3px;
	font-family: 'Montserrat', sans-serif;
}

.social .follow .followers, .social .follow .following {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social .follow a {
	font-size: 30px;
}

.social .follow p {
	font-size: 15px;
	color: black;
}

.athlete .top .split {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 10px;
}

.athlete .top .split .breadcrumb {
	margin: 0;
	background: none;
	color: black;
}

.info {
	margin: 0;
	padding: 5px 5px;
	color: black;
	border: 1px solid black;
	/*background: #161616; */
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.info h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	color: black;
}

.info .tags  {
	display: flex;
	flex-direction: row;
}

.info .tags p {
	padding: 2px 6px;
	border: 1px solid #ccc;
	margin: 0 5px;
}

.info .bio {
	margin: 10px 5px 5px 5px;
	
}

.info .bio p {
	padding: 2px 6px;
	border: 1px solid #ccc;
	min-height: 40px;
	text-align: center;
}

/*
.athlete .top .info p {
	border-bottom: 1px solid rgb(38,38,38);
}
*/
.athlete-tabs {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	height: 40px;
	width: 80%;
	/* padding: 0 10%; */
	margin: 20px auto;
	justify-content: left;
	border-bottom: 1px solid #ccc;
}

.athlete-tabs .tab {
	height: 40px;
	border-bottom: 1px solid #ccc;
}

.athlete-tabs .tab.active {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 2px solid #ec3642;
	border-bottom: 1px solid white;
}

.athlete-tabs .tab button {
	padding: 8px 16px;
	align-items: center;
	border: none;
	background: none;
}

.athlete-tabs .tab button:hover {
	background: #e9e9e9;
}

.tab-content {
	display: flex;
}

.featured {
	margin: 0 auto;
	width: 90%;
}

.featured .title {
	width: inherit;
	text-transform: uppercase;
	border-bottom: 1px solid black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	color: black;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 10px;
	color: white;
}

.cards .card {
	width: 300px;
	height: 340px;
	background: #161616;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
	margin-bottom: 20px;
	cursor: pointer;
}

.cards .card img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

.cards .card p.weight {
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
	color: #ec3642;
}

.cards .card h2 {
	margin: 0;
	font-size: 50px;
}

.expanded-lift {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0;
}

.expanded-lift .lift {
	padding: 10px;
	height: 600px;
	width: 100% !important;
	background: lightgreen;
}


.expanded-lift .lift .field {
	display: flex;
	flex-direction: row;
}

.expanded-lift .lift .field .left {
	width: 42%;
	min-height: 400px;
}

.expanded-lift .lift .field .right {
	width: 58%;
	min-height: 400px;
}

.expanded-lift .lift .field .right .video {
	max-width: 100%;
}

iframe {
	max-width: 100vw;
	max-height: 56.25vw;
}

.settings {
	display: flex;
	flex-direction: row;
	min-height: 700px;
	width: 100%;
	justify-content: center;
}

.settings-list {
	float: left;
	width: 180px;
	height: inherit;
	background: rgb(240, 240, 240);
	border-right: 1px solid #ccc;
	padding: 5px;
	padding-top: 10px;
}

.settings-content {
	width: inherit;
	height: 100%;
	min-height: 700px;
	background: rgb(255, 255, 255);
}

.settings-list button {
	text-align: left;
	width: 170px;
	height: auto;
	color: black;
	font-size: 20px;
	border: 1px solid rgb(146, 146, 146);
	margin-bottom: 4px;
	padding: 5px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}


.settings-list button.active, .settings-list button.active:hover {
	background: #ec3642 !important;
}

.settings-list button:hover {
	background: white;
}

.settings-list button.active:hover {
	color: white;
}

.settings-list ul li.active a {
	color: white;
}
.settings-list ul a:last-child {
	border-bottom: 1px solid rgb(146, 146, 146);
}

.settings-list ul a li {
	color: rgb(58, 58, 58);
}

.settings .tab {
	padding: 10px;
}

.settings #tab-profile {
	padding: 20px;
}

.settings #tab-lifts {
	width: inherit;
}

.settings #tab-profile h3 {
	margin-top: 4px;
}

.settings-content h1 {
	color: black;
}

.settings #tab-account .edit-form {
	width: 300px;
}

.edit-profile {
	width: 100%;
}

.edit-profile .profile-pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 4px solid white;
	background: lightgreen;
	object-fit: cover;
	margin-top: 0;
}

.info-banner {
	display: flex;
	flex-direction: row;
	color: black;
	width: 600px;
	background: white;
	padding: 15px;
	border: 2px solid #ccc;
}

.info-banner .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}

.info-banner .details h1 {
	color: black;
}

.info-banner .details h2 {
	margin: 0;
}

.edit-profile input, .edit-profile textarea {
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.profile-form form {
	max-width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile-form form .left {
	background: rgb(255, 255, 255);
	
	width: 62%;
}

.profile-form form .left .section {
	border: 1px solid #ccc;
	padding: 10px;
}

.profile-form form .left .section:last-child {
	margin-bottom: 0 !important;
}

.profile-form form .right {
	background: rgb(255, 255, 255);
	width: 35%;
	padding: 10px;
	border: 1px solid #ccc;
}

.profile-form form .section p, .profile-form form .section label {
	font-size: 15px;
	color: black;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}

.profile-form form .left textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 250px;
	border-radius: 5px;
}

.profile-form form .right .inline-group {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

}

.profile-form form .right .inline-group .section {
	text-align: left;
	margin: 5px;
}

.profile-form form .right .inline-group input  {
	width: 105px;
}

.profile-form form .right select {
	width: 105px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 1025px) {
    .profile-form form .right .inline-group input  {
		width: 65px;
	}
	
	.profile-form form .right select {
		width: 65px;
	}

}

.section.section-small input {
	width: 105px !important;
}

.profile-form form .left .training-header {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.profile-form form .left .training-header input {
	width: 70%;
	border: 1px solid #ccc;
}

.profile-form form .left .training-header input:last-of-type {
	width: 30%;
	margin-left: 5px;
}

.profile-form form .section input {
	border: 1px solid rgb(184, 184, 184);
	padding: 0 2px;
	border-radius: 5px;
}

.profile-form form .section input.form-control-file {
	border: none;
}

/*.profile-form form .section label {

}*/

.table-wrapper {
	width: inherit !important;
	margin: 0 auto 30px auto;
	background: #fff;
	padding: 20px;	
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	color: #404E67;
	font-family: 'Open Sans', sans-serif;
}
.table-title {
	padding-bottom: 10px;
	margin: 0 0 10px;
}
.table-title h2 {
	margin: 6px 0 0;
	font-size: 22px;
}

.table-title .add-new {
	float: right;
	height: 30px;
	font-weight: bold;
	font-size: 12px;
	text-shadow: none;
	min-width: 100px;
	border-radius: 50px;
	line-height: 13px;
}
.table-title .add-new i {
	margin-right: 4px;
}
table.table {
	table-layout: fixed;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
}

table.table tr td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table th:last-child {
	width: 90px;
}
table.table td a {
	cursor: pointer;
	display: inline-block;
	margin: 0 5px;
	width: 24px;
	height: 24px;
}

table.table td a.add i {
	top: -1px !important;
}

table.table td a i.material-icons{
	height: 24px;
	font-size: 24px;
}

table.table td a.edit i.material-icons {
	font-size: 22px !important;
}

table.table td a.add {
	color: #27C46B;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #E34724;
}
table.table td i {
	font-size: 19px;
}
table.table td a.add i {
	font-size: 24px;
	margin-right: -1px;
	position: relative;
	top: 3px;
}    
table.table .form-control {
	height: 32px;
	line-height: 32px;
	box-shadow: none;
	border-radius: 2px;
}
table.table .form-control.error {
	border-color: #f50000;
}
table.table td .add {
	display: none;
}